<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <h3>Edit your Listing</h3>
        <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <lebel for="title" class="form-lebel">Title</lebel>
                <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please enter title.</div>
            </div>
            <div class="mb-3">
                <lebel for="description" class="form-lebel">Description</lebel>
                <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please enter short description.</div>
            </div>
            <div class="mb-3">
                Original Listing Image <br>
                <img src="<%= originalImageUrl %>">
            </div>
            <div class="mb-3">
                <lebel for="image" class="form-lebel">Upload New Image </lebel>
                <input name="listing[image]" type="file" class="form-control">
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <lebel for="price" class="form-lebel">Price</lebel>
                    <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Price should be valid.</div>
                </div>
                <div class="mb-3 col-md-8">
                    <lebel for="country" class="form-lebel">Country</lebel>
                    <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" required>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Country name should be valid.</div>
                </div>
            </div>
           
            <div class="mb-3">
                <lebel for="location" class="form-lebel">Location</lebel>
                <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required>
                <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Location should be valid.</div>
            </div>
           
            <button class="btn btn-dark edit-btn mt-3 ">Edit</button>
            <br><br>
        </form>
    </div>
</div>